ol{ list-style:decimal; }
ol ol{ list-style:upper-alpha; }
ol ol ol{ list-style:lower-roman; }
ol ol ol ol{ list-style:lower-alpha; }
.role-parent ul,
.role-base ul,
.role-children ul,
.role-related ul,
.role-scope ul,
.role-mustcontain ul,
.role-required-properties ul,
.role-properties ul,
.role-inherited ul,
.role-disallowed ul,
.role-namefrom ul,
.state-value ul, .state-related ul,
.state-applicability ul,
.state-descendants ul,
.property-value ul,
.property-related ul,
.property-applicability ul,
.property-descendants ul,
.quickref-required ul,
.quickref-supported ul {
	margin:0;
	padding:0;
	list-style-type:none;
}
table{
	border:solid 2px #999;
	border-width:1px 0 0 1px;
	margin:0.1em 0 1em;
	padding:0;
	border-spacing:0;
	border-collapse:collapse;
}
th, td{
	border:solid 2px #999;
	border-width:0 1px 1px 0;
	padding:0.15em 0.3em 0.1em;
	vertical-align:top;
	text-align:left;
}
th{
	background-color:#eee;
}
caption{
	text-align:left;
	color:#555;
	font-style:normal;
	margin:1em 0 0.1em;
	padding:0 0 0 0.3em;
}
table.role-features th, table.role-features td, table.state-features th, table.state-features td, table.property-features th, table.property-features td, table.value-descriptions th, table.value-descriptions td {
	min-width:20em;
}
table.role-features tbody th, table.state-features tbody th, table.property-features tbody th, table.value-descriptions tbody th {
    text-align: left !important;
}
th+th, td+td{
	width:auto;
}
