[role=tab] {
  position: relative;
  z-index: 1;
  border: thin solid black;
  border-bottom: none;
  border-left: none;
	padding: 0.25em;
	text-decoration: none;
	display: block;
  float: left;
  background-color: #EEEEEE;
}

[role=tablist] > [role=tab]:first-child {
  border-left: thin solid black;  
}

[role=tab][aria-selected=true] {
  background-color: transparent;
  border-bottom: thin solid white;
}  

[role=tab]:focus,
[role=tab]:hover {
  background-color: white;
}


[role=tabpanel] {

  position: relative;
  top: -1px;
  clear: both;
  width: 50em;
  height: 40em;
  border: solid black thin;
  padding: 1em;
}

[role=tabpanel] label {
  display: block;
}

#order_info li span {
    font-style: italic;
    font-weight: bold;
}

table#my_order th {
  border-bottom: none;
}

table#my_order tr:nth-child(even) {
  background-color: #F1F1F1;
}