#tp1{
  width:800px;
}

#tp1 ul{
  width:100px;
  float:left;

}

[role=tabpanel] {
  position:relative;
  z-index: -1;
  margin-left: -1.35em;
  float:left;
  width: 30em;
  height: 10em;
  border: solid black thin;
  padding: 1em;

}

[role=tabpanel] label {
  display: block;
}

[role=tab] {
  position: relative;
  z-index: 1;
  border: thin solid black;
  border-top: none;
	padding: 0.25em;
	text-decoration: none;
	display: block;
  float: left;
  background-color: #EEEEEE;
  clear:left;
  width:5em;
}

[role=tablist] > [role=tab]:first-child {
  border-top: thin solid black;
}

[role=tab][aria-selected=true] {
  background-color: transparent;
  border-right: thin solid white;

}

[role=tab]:focus ,
[role=tab]:hover {
  background-color: white;
}  

#order_info li span {
    font-style: italic;
    font-weight: bold;
}

table#my_order th {
  border-bottom: none;
}

table#my_order tr:nth-child(even) {
  background-color: #F1F1F1;
}

#my_order_label{
  clear:left;
}