RewriteEngine On
RewriteBase /WAI/ARIA

RewriteCond %{THE_REQUEST} ^GET\ (.*)(\.html|.php)\ HTTP
RewriteRule ^(.*)(\.html|\.php)$ %1 [R]

RewriteRule ^Overview$ . [R]

# "latest version" charter link
RewriteRule ^charter$ /2022/02/aria-charter [R]

RewriteRule ^telecon-info communication [R]
