button,
a[role=button] {
	margin: 0;
	padding: 0;
	text-decoration: none;
	display: block;
  float: left;
}
textarea{
  width: 80%;
  height: 150px;
  resize: vertical;
  font-size: 16px;
  text-align: left;
}