.note-title {
  padding-left: 1.5em
}

summary {
  background: url("rightArrow.png") no-repeat scroll 0.5em center #fff;
  padding: 0.25em 0.25em 0.25em 2em;
}

summary:hover,
summary:focus,
details[open] summary:hover,
details[open] summary:focus {
  background-color: #eee;
}

details,
summary {
  display: block;
}

p.note::before {
  content: "Note: ";
  font-weight: bolder;
}

p.note,
div.note {
  padding: 0.5em 2em;
}

.note {
  background: none repeat scroll 0 0 #e9fbe9;
  border-color: #52e052;
  border-left: 0.25em solid #52e052;
}

.example {
  background: none repeat scroll 0 0 #fcfcfc;
  border-color: #c0c0c0;
  border-left: 0.25em solid #c0c0c0;
  color: #222222;
  display: block;
  margin-left: 1em;
  padding-bottom: 0.5em;
  padding-left: 1em;
}

.new-feature {
  background-color: crimson;
}

.changed-feature {
  background-color: slateblue;
}

.new-feature,
.changed-feature {
  border-bottom: none !important;
  padding-top: 1px;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 6px;
  font-size: smaller;
  font-weight: bold;
  color: white !important;
  border-radius: 4px;
  box-shadow: 3px 3px 3px #888;
  border-bottom: none;
  margin-left: 4px;
  vertical-align: top;
}

.changed-feature1 {
  border-bottom: none !important;
  padding-top: 1px;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 6px;
  font-size: smaller;
  font-weight: bold;
  color: white !important;
  border-radius: 4px;
  box-shadow: 3px 3px 3px #888;
  border-bottom: none;
  margin-left: 4px;
  vertical-align: top;
}

.new-feature1 {
  border-bottom: none !important;
  padding-top: 1px;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 6px;
  font-size: smaller;
  font-weight: bold;
  color: white !important;
  border-radius: 4px;
  box-shadow: 3px 3px 3px #888;
  border-bottom: none;
  margin-left: 4px;
  vertical-align: top;
}

tr:nth-child(2n+1) {
  background-color: #ebebeb;
}

td {
  padding: .3em
}

a code {
  color: #034575
}
