p.note,
div.note {
  padding: 1em;
}

div.note *:last-child {
  margin-bottom: 0;
}

.note {
  background: none repeat scroll 0 0 #e9fbe9;
  border-left: 0.25em solid #52e052;
}

.example {
  background: none repeat scroll 0 0 #fcfcfc;
  border-color: #c0c0c0;
  border-left: 0.25em solid #c0c0c0;
  color: #222222;
  display: block;
  margin-left: 1em;
  padding-bottom: 0.5em;
  padding-left: 1em;
}

.example .marker {
  margin-bottom: 1em;
}

a code {
  color: inherit;
}

.simple td {
  padding: 10px;
}

.simple tbody th,
.simple tbody th a,
.simple tbody th code {
  background: inherit;
  color: inherit;
  font-weight: normal;
}

.simple tbody th a {
 display: inline-block; 
 padding: 0;
}

.simple thead {
  position: sticky;
  top: 0px;
}

table th ul,
table td ul {
  padding-left: .825em;
}

.simple th {
  scroll-margin-top: 120px;
}



/* these classes don't behave very well for inline changes.
   so these updates were made to make these work better in
   this spec. */
span.addition.proposed,
span.correction.proposed,
span.amendment.proposed {
 padding: .125em .25em;
 border-width: 3px;
}
