#numberGuessingGame{
  border: thick solid black;
  padding:1em;
  width: 50%
  
}
#guessing_game_title{
  text-align: center;
}
#guessing_game_alert{
  border: thick double black;
  padding: .25em;
  margin-top: 1.5em;
  
}
#dialogoverlay{
	display: none;
	opacity: .9;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}
#dialogbox1{
	display: none;
	position: fixed;
	background: Black;
	width:30em;
  margin: 20px;
	z-index: 10;
}
#dialogbox1 > div{ margin:.25em;}
#dialogbox1 > div > .dialogboxhead{ background: white; font-size:19px; padding:1em; border-bottom: black thin solid}
#dialogbox1 > div > .dialogboxbody{ background: white; padding:1em; }
#dialogbox1 > div > .dialogboxfoot{ background: white; padding:1em; text-align:right; }