# Ensure all text files do not accidentally become a CRLF file.
# Agreed upon during 5 August 2015 PF Editors concall.
# To override or prevent this behavior see the following sections.
* text eol=lf

# Files that will always have CRLF line endings. Example:
# my-special-spec.html eol=crlf

# Ensure non-text files don't get accidentally swept up by above.
*.png binary
*.jpg binary
*.zargo binary
