body {
    font-size: large;
}
h1, 
h2 {
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 0.5em;
}

h2 {
    margin-top: 1em;
    font-size: 150%;
}

[role=banner] {
    margin-bottom: 1em;
}

[role=banner] h1{
    margin-top: 0.4em;
}

[role=main] {
    margin-bottom: 5em;
}

[role=main] table ul {
    margin-left :0;
    padding-left: 1em;
}

[role=navigaion] {
    margin: 0;
}

[role=navigation] li {
    margin-top: 0.45em;
    border: solid thin #337ab7;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

[role=complementary] {
    margin: 0;
    padding: 0;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    background-color: #F4F4F4;
    margin-right: 12em;
    width: 100%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

[role=complementary] h2 {
    margin: 0;
    padding: 0;
    font-size: 125%;
}

[role=complementary] ul {
    margin: 0;
    padding: 0;
    margin-left: 1.15em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

[role=complementary] button {
    text-align: center;
    margin: 0.25em;
    width: 95%;
}

[role=complementary] .note {
    font-size: 90%;
    font-style: italic;
}

a:focus,
a:hover {
    text-decoration: underline;
}
