button,
a[role=button] {
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 15px;
  border-style: solid;
  min-width: 20px;
}
#text-sample-1{
  border-style: solid;
  border-width: 2px;
  padding:10px;
}

div[role="menu"] a {
  display: block;
}

ul[role="menu"] {
  position: absolute;
  margin: 0;
  padding: 0;
}

ul[role="menu"] li {
  list-style: none;
}

[role="menu"] {
  padding: 0;
  width: 8em;
  border: thin solid black;
  background-color: #EEEEEE;
}
[role="menuitem"] {
  padding: 0.25em;
}

[role="menuitem"]:focus,
[role="menuitem"]:hover {
  background-color: #FFFFFF;
}
h3{
  font-size: 120%;
}
ul#list{
  list-style-type: none;
}