button,
a[role=button] {
	margin: 0;
	padding: 0;
	text-decoration: none;
	display: block;
}

div[role="menu"] a {
	display: block;
}

ul[role="menu"] li {
	list-style: none;
}

[role="menu"] {
	padding: 0;
	width: 8em;
	border: thin solid black;
	background-color: #EEEEEE;
}
[role="menuitem"] {
	padding: 0.25em;
}

[role="menuitem"]:focus,
[role="menuitem"]:hover {
	background-color: #FFFFFF;
}