ol{ list-style:decimal; }
ol ol{ list-style:upper-alpha; }
ol ol ol{ list-style:lower-roman; }
ol ol ol ol{ list-style:lower-alpha; }

table{
	border:solid 2px #999;
	border-width:1px 0 0 1px;
	margin:0.1em 0 1em;
	padding:0;
	border-spacing:0;
	border-collapse:collapse;
}
th, td{
	border:solid 2px #999;
	border-width:0 1px 1px 0;
	padding:0.15em 0.3em 0.1em;
	/*min-width:20em;*/
	vertical-align:top;
	text-align:left;
}
th+th, td+td{
	width:auto;
}
th{
	background-color:#eee;
}
caption{
	text-align:left;
	color:#555;
	font-style:normal;
	margin:1em 0 0.1em;
	padding:0 0 0 0.3em;
}
html code, html pre, html kbd{ /* more specific selector than the default W3C style sheet */
	/* Most browsers default 'monospace' to Courier, which has an ex-height of about 60% normal size. */
	/* Monaco has a normal ex-height so font sizes appear more consistent with surrounding non-monospaced text. */
	font-family: "Monaco", "Courier New", "Courier", monospace;
	font-family: "Monaco", "Courier New", "Courier"; /* declare as separate rule to account for browser font-size inconsistencies, monospace fallback from previous rule should still work in the [almost non-existant] case that a user system does not have Courier */
	font-size:0.9em;
}
html pre { /* more specific selector than the default W3C style sheet */
	border: solid 1px #999;
	background-color: #fcfcfc;
	margin:1em 0;
	padding:0.5em 0.8em;
	font-size:0.75em; /* text in blocks code blocks looked too big now that font is back to normal size */
}
.role-reference, .state-reference, .property-reference, .widget-reference, .design-pattern-reference {}
.termref, a.termref:link {
	color:#006400;
	text-decoration:none;
	font-style:italic;
}
a.termref:visited {
	color:inherit;
}
.note {
	color:#444;
	border:solid 1px #ccc;
	margin:1em 0;
	padding:1em 2em;
}
.rfc2119 {
	font-weight: bold;
	text-transform: uppercase;
}

