name: aria ED
on:
  push:
    branches: [main]
    paths:
    - 'common/**'
    - index.html
  workflow_dispatch:
jobs:
  main:
    name: ARIA ED
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - uses: w3c/spec-prod@v2
        with:
          GH_PAGES_BRANCH: gh-pages