name: Deploy to gh-pages on push to main, check on pull requests

# See https://github.com/w3c/spec-prod/blob/main/docs/examples.md#deploy-to-github-pages

on:
  pull_request: {}
  push:
    branches: [main]
jobs:
  main:
    name: Build, Validate and Deploy
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: w3c/spec-prod@v2
        with:
          TOOLCHAIN: respec
          GH_PAGES_BUILD_OVERRIDE: |
            lint: false
          BUILD_FAIL_ON: nothing
          GH_PAGES_BRANCH: gh-pages
          VALIDATE_WEBIDL: false
          VALIDATE_MARKUP: false
