name: pdf-aam ED
on:
  push:
    branches:
      - 'main'
    paths:
      - 'common/**'
      - 'pdf-aam/**'
  workflow_dispatch:

jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Dispatch to pdf-aam repo
        run: |
          curl -L -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{secrets.W3CGRUNTBOT_TOKEN}}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/w3c/pdf-aam/actions/workflows/build-from-monorepo.yaml/dispatches \
          -d '{"ref":"gh-pages"}'
  update-pdf-aam:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout monorepo
        uses: actions/checkout@v5
        with:
          ref: main
          path: aria
          sparse-checkout: |
            pdf-aam
            common
      - name: Copy common
        run: |
          mkdir aria/pdf-aam/common
          cp -r aria/common/** aria/pdf-aam/common/    
          sed -i 's|\.\./common|common|g' aria/pdf-aam/index.html
      - uses: w3c/spec-prod@v2
        with:
          TOOLCHAIN: respec
          SOURCE: aria/pdf-aam/index.html
          DESTINATION: aria/pdf-aam/index.html
          # W3C_ECHIDNA_TOKEN: ${{ secrets.ECHIDNA_TOKEN_pdf_aam }}
          # W3C_WG_DECISION_URL: https://lists.w3.org/Archives/Public/public-aria-admin/2018Sep/0011.html
          # W3C_BUILD_OVERRIDE: |
          #   specStatus: WD
          ARTIFACT_NAME: pdf-aam
      - name: Checkout pdf-aam repo
        uses: actions/checkout@v5
        with:
          repository: w3c/pdf-aam
          ref: gh-pages
          path: pdf-aam
          token: ${{ secrets.W3CGRUNTBOT_TOKEN }}
      - uses: actions/download-artifact@v4
        with:
          name: pdf-aam
      - name: Copy files
        run: |
          cp -r index.html pdf-aam/
      - name: Push new files to child repo
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "ED update"
          git push origin gh-pages
        working-directory: pdf-aam
